:root{
	
	--text-color: #FFFFFF;
	--main-bg-color: #440000;
	--border-color: #440000;
	--border-type: inset;
	--border-size: 10px;
}


a  {
	color: #8080FF;
	text-decoration: none;
  }




body  {
	background-color: var(--main-bg-color);
	color:#FFFFFF;  font-family:courier;
	text-align: center;
	border: var(--border-size) var(--border-type) var(--border-color);		
  }


<!--
pre  {
	border: var(--border-size) var(--border-type) var(--border-color);
  }
-->

<!--
-->
